:root {
	--basic-white: #FFFFFF;
	--basic-black: #323232;
	--basic-light-grey: #F8F7F4;
	--basic-light: #D3D3D2;
	--basic-grey: #999999;
	--basic-red: #E84D37;
	--basic-light-red: #FFBC9E;
	--basic-green: #849D8F;
	--basic-blue: #8996A6;
	--basic-brown: #9D8B84;
	--basic-dark-grey: #5A5A5A;
	--basic-dull-red: #D07058;
	--basic-extra-grey: rgba(178, 178, 178, 0.52);
	--basic-extra-blue: rgba(46, 136, 228, 0.52);
	--basic-light-green: rgba(255, 255, 255, 0.2);
}


.page-body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: var(--basic-white);

	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start; 
}

a {
	color: var(--basic-white);
}

/*  ______  */

.page {
	height: 100%;
}

.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0 10px;
}

.site-wrapper {
	background-color: var(--basic-green);
  	background-repeat: no-repeat;
  	background-position: top center;
}

.site-wrapper-1 {
	background-color: var(--basic-green);
	background-image: url("../img/ice_cream_slide1.png");
}

.site-wrapper-2 {
	background-color: var(--basic-blue);
	background-image: url("../img/ice_cream_slide2.png");
}

.site-wrapper-3 {
	background-color: var(--basic-brown);
	background-image: url("../img/ice_cream_slide3.png");
}

/*   ____________    */

.main-header {
	width: 1146px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-navigation {
	line-height: 18px;

	display: grid;
	grid-template-columns: 154px 1fr min-content;
}

.main-header-logo {
	margin-top: 9px;
}

.site-navigation {
	font-weight: 700;
	list-style: none;

	margin: 0;
	padding: 0;
	margin-left: 11px;
	margin-top: 24px;

	display: flex;
	flex-wrap: wrap;
}


.catalog-item:hover .subnavigation {
	display: block;
}

.catalog-item > .active {
	background-color: var(--basic-dull-red);
	text-decoration: none;
	border-radius: 26px;
}

.navigation-item {
	position: relative;
	height: min-content;
}

.navigation-item a {
	display: block;
	padding: 8px 13px;
	text-decoration: none;
}

.navigation-decor {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.navigation-item a:hover,
.navigation-item a:focus {
	background-color: var(--basic-white);
	color: var(--basic-black);
	text-decoration: none;
	border-radius: 26px;
}

.navigation-item a:active {
	background: #EDEDED;
	box-shadow: inset 0px 2px 1px #696969;
	border-radius: 26px;
}

.subnavigation {
	font-size: 14px;
	line-height: 16px;
	position: absolute;
	top: 36px;
	left: -8px;
	background-color: var(--basic-white);
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	padding: 0;
	width: 143px;
	display: none;
	z-index: 1;
}

.subnavigation p {
	margin: 0;
	padding: 13px 21px;
	border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.subnavigation a {
	color: var(--basic-black);
	text-decoration: none;
	font-weight: 400;
	white-space: nowrap;
	padding: 10px 21px 9px 20px;
}

.subnavigation-item {
	color: var(--basic-black);
	list-style: none;
	padding: 0;
}


.subnavigation-item:hover a,
.subnavigation-item:focus a {
	background-color: #FBDED7;
	border-radius: 4px;
}

.subnavigation-item:active a {
	background-color: #F6B5A5;
}

.subnavigation a.active {
	background-color: var(--basic-dull-red);
	color: var(--basic-white);
}



.user-navigation {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;

	display: flex;
	margin: 0;
	margin-top: 25px;
}

.user-navigation li {
	margin-right: 10px;
}

.user-navigation li:last-child {
	margin-right: 0;
}

.user-info {
	font-weight: 700;
	text-align: right;
	grid-column: 1 / 4;

	display: grid;
	grid-template-rows: min-content min-content;
	grid-template-columns: 1fr 1fr;
}


.hours {
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.number {
	text-decoration: none;
	font-size: 22px;
	line-height: 24px;
	margin-top: 8px;
	margin-bottom: 0;

	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.number a:hover,
.number a:active {
	color: var(--basic-light-red);
}

.user-navigation li {
	list-style: none;
}

.user-navigation a {
	text-decoration: none;
}



.user-button {
	white-space: nowrap;
	border-radius: 20px;
	background-color: var(--basic-light-green);
	padding: 8px 16px;
}

.user-button:hover path,
.user-button:focus path {
	fill: var(--basic-black);
}

.user-button:hover,
.user-button:focus {
	background-color: var(--basic-white);
	color: var(--basic-black);
}



.search-field {
	display: none;
	position: absolute;
	right: 0;
	top: 33px;
	background-color: var(--basic-light-grey);
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	padding: 19px 15px 15px;
	margin-bottom: 0;
	height: 100%;
}

.search-plate {
	position: relative;
	top: 3px;
}

.search-button:hover ~ .search-field,
.search-button:focus ~ .search-field {
	display: block;
}

.search-button {
	background-color: var(--basic-light-green);
	padding: 8px 8px;
	border-radius: 50%;
}

.search-button svg {
	transform: translate(0, 2px);
}

.search-field input {
	border:	1px solid var(--basic-extra-grey);
	line-height: 20px;
	font-weight: 700;
	background-color: var(--basic-white);
	margin: 0;	
	padding: 12px 15px;
	width: 311px;
	border-radius: 4px;
}

.search-field input:hover {
	border: 2px solid var(--basic-extra-grey);
}

.search-field input:focus {
	border: 2px solid var(--basic-extra-blue);
}


.login {
	position: relative;
}

.login-wrapper {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content min-content 1fr;
	margin-right: 0;
}

.login-wrapper p {
	margin: 0;
	padding: 0;
}

.login-item {
	grid-column: 1 / -1;
}


.login-button svg {
	transform: translate(-5px, 4px);
} 


.login-form {
	display: none;
	position: absolute;
	right: 0px;
	top: 36px;
	background-color: var(--basic-light-grey);
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	padding-top: 20px;
	padding-left: 19px;
	padding-bottom: 22px;
	width: 258px;
	min-height: 214px;
}

.login-form li {
	margin: 0;
	padding: 0;
}

.login-wrapper .button {
	grid-column: 1 / 2;
	width: min-content;
	padding: 10px 25px;
	margin-right: 20px;
}

.links {
	white-space: pre-line;
}


.login:hover .login-form {
	display: block;
}

.login-form input {
	border: 1px solid var(--basic-extra-grey);
	line-height: 13px;
	font-weight: 700;
	background-color: var(--basic-white);
	border-radius: 4px;
	margin-bottom: 20px;
	width: 209px;
	padding: 13px 15px;
}

.login-form input:hover {
	border: 2px solid var(--basic-extra-grey);
}

.login-form input:focus {
	border: 2px solid var(--basic-extra-blue);
}


.button {
	color: var(--basic-white);
	background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	border: none;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
	border-radius: 70px;
}

.button:hover,
.button:focus {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
	box-shadow: 0px 2px 2px #AC1000;
}

.button:active {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
	box-shadow: inset 0px 2px 2px #942718;
} 



.links a {
	color: var(--basic-black);
	text-decoration: underline;
	font-size: 13px;
	line-height: 15px;
	font-weight: 400;
}

.links a:hover,
.links a:active {
	color: var(--basic-red);
}

.no-empty-cart {
	position: relative;
}

.cart-button svg {
	transform: translate(-5px, 4px);
}

.no-empty-cart .cart-button {
	background-color: var(--basic-white);
	color: var(--basic-black);
	padding-left: 44px;
}

.no-empty-cart .cart-button::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
	height: 20px;
	background-image: url("../img/icons/active_cart.svg");
  	background-repeat: no-repeat;
 	background-position: 0 0;
}

.shopping-list {
	display: none;
	position: absolute;
	background-color: var(--basic-light-grey);
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	color: var(--basic-black);
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	width: 539px;
	right: 0px;
	top: 36px;
	padding: 0;
	box-sizing: border-box;
}

.shopping-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 20px 0;
	padding-left: 21px;
	padding-right: 14px;
}

.cart-item a {
	color: var(--basic-black);
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
}

.shopping-btn {
	padding: 10px 15px;
}

.cart-item {
	align-self: stretch;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.no-empty-cart:hover .shopping-list,
.no-empty-cart:focus .shopping-list {
	display: block;
}

.item-cost {
	padding-right: 20px;
}

.full-cost {
	font-size: 15px;
	line-height: 16px;
	font-weight: 700;
}

.cart-price {
	color: var(--basic-grey);
}




.slider {
	position: relative;
	text-align: center;
	padding-top: 321px;
}

.slider-list {
	margin: 0;
  	padding: 0;
  	list-style: none;
}


.slide-title {
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	margin: 0 auto;
	margin-bottom: 27px;

	width: 672px;
	word-wrap: wrap;
}

.slider-item {
	display: none;
}

.active-slide {
	display: block;
}

.slider-item .button {
	display: inline-block;
	font-size: 32px;
	line-height: 44px;
	text-decoration: none;
	padding: 9px 23px;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	white-space: nowrap;
  	clip-path: inset(100%);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.slider-controls {
	position: absolute;
	bottom: 22px;
	left: 0;
	z-index: 8;
	display: flex;
	justify-content: space-between;
}

.slider-controls .active {
	background-color: var(--basic-white);
}

.slider-controls button {
	cursor: pointer;
	width: 21px;
	height: 21px;
	margin-right: 8px;
	border: 2px solid var(--basic-white);
	border-radius: 50%;
	background-color: transparent;
}

.slider-controls button:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.slider-controls button:active {
	background-color: var(--basic-white);
}



.promo-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 26px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 40px;
	margin-top: 41px;
}

.promo-item {
	display: flex;
	flex-direction: column;
	padding-right: 22px;

	list-style: none;
	font-size: 18px;
	font-weight: 700;
	min-height: 229px;
}

.promo h3 {
	margin: 16px;
	font-size: 35px;
	line-height: 41px;
}

.promo-item .button {
	align-self: flex-end;

	text-decoration: none;
	padding: 12px 22px;
	margin-top: auto;
	margin-bottom: 22px;
}

.promo-item p {
	margin: 0;
	margin-left: 16px;
}

.raspberry {
	background: url("../img/backgrounds/raspberry.jpg") no-repeat;
	background-color: #9a073f;
	border-radius: 16px;

	grid-column: 1 / 2;
}

.chocolate {
	background: url("../img/backgrounds/choco.jpg") no-repeat;
	background-color: #3f1010;
	border-radius: 16px;

	grid-column: 2 / 3;
}



.hit {
	position: relative;
}

.hit::before {
	content: "";
	position: absolute;
	width: 61px;
	height: 61px;
	background-image: url("../img/icons/HIT.svg");
	background-color: var(--basic-white);
	border-radius: 50%;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	z-index: 7;
}

.catalog {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 26px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 40px;
}

.ice-cream-card {
	position: relative;
	list-style: none;
	font-size: 30px;
	line-height: 35px;
	font-weight: 700;

	display: flex;
	flex-direction: column;
}

.ice-cream-card::after {
	content: "";
	position: absolute;
	display: none;
	z-index: 5;
	top: -6px;
	left: -13px;
	
	background: var(--basic-white);
	opacity: 0.2;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	height: calc(100% + 78px);
	width: calc(100% + 26px);
}

.ice-cream-card:hover::after,
.ice-cream-card:focus::after {
	display: block;
}

.ice-cream-card:hover .ice-cream-pic,
.ice-cream-card:focus .ice-cream-pic {
	z-index: 6;
}

.ice-cream-pic {
	max-width: 100%;
  	height: auto;
  	margin-bottom: 13px;
	z-index: 4;
}

.ice-cream-card .button {
	display: none;
	position: absolute;
	z-index: 6;
	bottom: -55px;
	left: 50%;
	transform: translateX(-50%);

	line-height: 24px;
	text-decoration: none;
	padding: 12px 16px;
}

.ice-cream-card:hover .button,
.ice-cream-card:focus .button {
	display: block;
}

.price {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 216px;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
	z-index: 7;
}

.price-tag {
	font-size: 45px;
	line-height: 45px;
}

.description {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-align: center;
	z-index: 6;
}

.description:hover,
.description:focus,
.description:active {
	color: var(--basic-light-red);
}


.about-store {
	margin-bottom: 40px;
}

.about-store-wrapper {
	display: grid;
	grid-template-rows: min-content 1fr;

	background: url("../img/backgrounds/waffle-pattern.png") repeat;
	background-color: #f5efdc;
	border-radius: 16px;
	color: var(--basic-black);
	font-size: 24px;
	line-height: 30px;
	padding: 24px 20px;
}

.about-store-wrapper p {
	margin: 0;
	margin-bottom: 21px;
	padding: 0; 
}

.about-store-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	column-gap: 26px;
	row-gap: 11px;
	margin: 0 auto;
	padding: 0;
}

.about-store-list li {
	position: relative;
	list-style: none;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	padding-left: 55px;
}

.about-ice-cream::before {
	content: "";
	position: absolute;
	left: 0;
	top: -14px;
	width: 49px;
	height: 49px;
	background-image: url("../img/icons/decor_ice_cream.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}

.about-raw::before {
	content: "";
	position: absolute;
	left: 0;
	top: -14px;
	width: 49px;
	height: 49px;
	background-image: url("../img/icons/decor_leaf.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}

.about-ingredients::before {
	content: "";
	position: absolute;
	left: 0;
	top: -14px;
	width: 49px;
	height: 49px;
	background-image: url("../img/icons/decor_cow.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}

.about-temperature::before {
	content: "";
	position: absolute;
	left: 0;
	top: -14px;
	width: 49px;
	height: 49px;
	background-image: url("../img/icons/decor_thermometer.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}



.news-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 26px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 40px;
}

.news {
	background: url("../img/backgrounds/strawberry.jpg") no-repeat;
	background-color: var(--basic-light-grey);
	border-radius: 16px;
	padding: 0 20px;
	padding-right: 253px;
	min-height: 220px;
	
}

.news h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: var(--basic-black);
	margin: 0;
	padding: 0;
	margin-top: 23px;
	margin-bottom: 15px;
}

.news-caption {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: var(--basic-black);
}

.news-caption:hover,
.news-caption:active {
	color: var(--basic-red);
}



.subscribe-form {
	background: url("../img/backgrounds/mail.png") no-repeat;
	border-radius: 16px;
	padding: 0 6px;
}

.subscribe-wrapper {
	background-color: var(--basic-light-grey);
	border-radius: 16px;
	font-weight: 400;
	color: var(--basic-dark-grey);
	height: calc(100% - 10px);
	margin-top: 5px;
	padding: 29px 16px;
	box-sizing: border-box;
}

.subscribe-wrapper p {
	margin: 0;
	padding: 0;
	padding-left: 4px;
}

.subscribe-form input {
	border: 1px solid var(--basic-extra-grey);
	line-height: 20px;
	font-weight: 700;
	background-color: var(--basic-white);
	margin-top: 43px;
	margin-right: 10px;
	width: 342px;	
	padding: 13px 13px;
	border-radius: 6px;
}

.subscribe-form input:hover {
	border: 2px solid var(--basic-extra-grey);
}

.subscribe-form input:focus {
	border: 2px solid var(--basic-extra-blue);
}

.subscribe-wrapper .button {
	padding: 10px 19px;
}



.map {
	background: url("../img/map.png") no-repeat;
	width: 1200px;
	height: 430px;
	position: relative;
	margin: 0 auto;
}

.map-help {
	position: absolute;
	width: 303px;
	right: 27px;
	top: 62px;
	padding: 31px 25px;
	box-sizing: border-box;

	background-color: #FEFEFE;
	border-radius: 16px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: var(--basic-black);
}

.map-help p {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	white-space: pre-line;
}

.map-help .button {
	display: block;
	box-sizing: border-box;
	line-height: 24px;
	margin: 31px 25px;
	margin: 0;
	padding: 13px 28px;
}

.map-help strong {
	font-size: 18px;
	line-height: 24px;
}




.main-footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 1146px;
	margin: 0 auto;
	padding: 0 10px;

	padding: 18px 0;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}

.main-footer li {
	list-style: none;
}

.main-footer a:hover,
.main-footer a:active,
.main-footer a:focus {
	color: var(--basic-light-red);
	border-color: rgba(255, 188, 158, 0.3);
}

.footer-social {
	margin: 0;
 	width: 164px;
}

.social-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.social-button {
	position: relative;
}

.fb-button::before {
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url("../img/social/fb.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	border: 2px solid rgba(255, 255, 255, 0.5);
  	border-radius: 50%;
  	opacity: 0.8;
}

.fb-button:hover::before {
	opacity: 1;
}

.vk-button::before {
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url("../img/social/vk.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	border: 2px solid rgba(255, 255, 255, 0.5);
  	border-radius: 50%;
  	opacity: 0.8;
}

.vk-button:hover::before {
	opacity: 1;
}

.inst-button::before {
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url("../img/social/inst.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	border: 2px solid rgba(255, 255, 255, 0.5);
  	border-radius: 50%;
  	opacity: 0.8;
}

.inst-button:hover::before {
	opacity: 1;
}

.twit-button::before {
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url("../img/social/twitter.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	border: 2px solid rgba(255, 255, 255, 0.5);
  	border-radius: 50%;
  	opacity: 0.8;
}

.twit-button:hover::before {
	opacity: 1;
}


.footer-copyright {
	font-size: 12px;

	max-width: 200px;
  	margin: 0;
  	justify-self: end;
}


.footer-information {
	margin-top: 18px;
	width: 327px;
  	justify-self: center;
}

.footer-information-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding: 0;
	margin: 0;
}

.footer-info-item {
	position: relative;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

li:first-child .footer-info-item::before {
	content: "";
	position: absolute;
	left: -22px;
	top: 2px;
	width: 15px;
	height: 13px;
	background-image: url("../img/icons/heart.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}




.callback-modal {
	position: relative;
	background-color: var(--basic-light-grey);
	border-radius: 6px;
	color: var(--basic-black);
	line-height: 20px;
	font-weight: 400;
	width: 477px;
	margin: 0 auto;
	padding-left: 23px;
	padding-top: 20px;
	padding-bottom: 25px;
	padding-right: 25px;
	box-sizing: border-box;
}

.callback-modal p {
	margin: 0;
}

.callback-modal-wrapper {
	display: flex;
	flex-direction: column;
	margin-left: 1px;
}

.callback-modal .callback-title {
	font-size: 24px;
	font-weight: 500;
	margin: 0;
	padding: 0;
	margin-bottom: 26px;
}

.callback-modal input,
.callback-modal textarea {
	border: 1px solid var(--basic-extra-grey);
	border-radius: 4px;
	line-height: 20px;
	font-weight: 700;
	background-color: var(--basic-white);	
}

.callback-modal input:hover,
.callback-modal textarea:hover {
	border: 2px solid var(--basic-extra-grey);
}

.callback-modal input:focus,
.callback-modal textarea:focus {
	border: 2px solid var(--basic-extra-blue);
}

.callback-modal .button {
	align-self: flex-end;
	padding: 10px 24px;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 16px;
}

.callback-modal textarea {
	width: 428px;
	resize: none; 
	padding: 16px 14px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

 .callback-modal .callback-field {
 	margin-bottom: 20px;
 }

 .callback-modal input {
 	padding: 11px 14px;
 }


/*catalog style*/



.breadcrumb {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;


	list-style: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;

	grid-row: 2 / 3;
	justify-self: start;
	margin-top: 8px;
	margin-bottom: 0;
}

.breadcrumb li {
	position: relative;
	margin-right: 22px;
}

.crumb::after {
	content: "";
	position: absolute;
	right: -14px;
	top: 6px;
	width: 6px;
	height: 6px;
	background-image: url("../img/icons/breadcrumb_right.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.active-crumb {
	margin-right: 0;
}

.crumb a {
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.crumb a:hover,
.crumb a:active {
	color: var(--basic-light-red);
}

h1 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.filters {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}


.filters-wrapper {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 196px 218px 1fr min-content;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	width: 869px;
	column-gap: 15px;
}

.fatness li {
	display: inline;
	margin-right: 19px;
}

.filters legend {
	margin-bottom: 7px;
}

.fatness ul,
.fillers ul {
	margin-top: 0;
}

.fatness {
	grid-column: 3 / 5;
}

.fillers {
	grid-column: 1 / 4;
	width: 711px;
	padding: 0;
}

.fillers li {
	display: inline;
	margin-right: 20px;
}


.filters fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.filters legend{
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.sorting-filter {
	background: var(--basic-light-green);
	color: var(--basic-white);
	border: none;
}

.sorting-filter:hover {
	color: var(--basic-black);
}

.sorting-filter option {
	color: var(--basic-black);
}

.price-sorting input {
	border: none;
	background-color: transparent;
	color: var(--basic-white);
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	width: 60px;
}

.filters ul {
	list-style: none;
	background-color: var(--basic-light-green);
}

.filters-button {
	border: 2px solid var(--basic-white);
	background-color: var(--basic-light-green);
	color: var(--basic-white);
	font-weight: 500;
	border-radius: 20px;

	width: 144px;
	height: 36px;
}

.filters-button:hover,
.filters-button:focus {
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.filters-button:active {
	color: var(--basic-black);
	background-color: var(--basic-white);
	box-shadow: 0px 4px 4px 0px #00000040;
}


.pagination-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	line-height: 18px;
	font-weight: 500;
	list-style: none;
	text-align: right;
	margin-top: 80px;
	margin-bottom: 48px;
}

.pagination-item {
	margin-right: 11px;
}

.pagination-item a {
	text-decoration: none;
	padding: 3px 8px;
	border-radius: 50%;
}

.pagination-item a:hover {
	background-color: var(--basic-light-green);
}

.pagination-item a:active,
.pagination-list .active a {
	background-color: var(--basic-white);
	color: var(--basic-black);
}